<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="PouCon" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
    <script>
      (() => {
        const setTheme = (theme) => {
          if (theme === "system") {
            localStorage.removeItem("phx:theme");
            document.documentElement.removeAttribute("data-theme");
          } else {
            localStorage.setItem("phx:theme", theme);
            document.documentElement.setAttribute("data-theme", theme);
          }
        };
        if (!document.documentElement.hasAttribute("data-theme")) {
          setTheme(localStorage.getItem("phx:theme") || "system");
        }
        window.addEventListener("storage", (e) => e.key === "phx:theme" && setTheme(e.newValue || "system"));
        
        window.addEventListener("phx:set-theme", (e) => setTheme(e.target.dataset.phxTheme));
      })();
    </script>
  </head>
  <body>
    <div class="flex justify-center mt-2">
      <span class="inline-block font-bold text-4xl border-4 rounded-xl bg-yellow-200 px-4 py-2 shadow-xl">
        {PouCon.Auth.get_house_id()}
      </span>
    </div>
    {@inner_content}
    <div class="simple-keyboard"></div>
    <div
      style="display: none;"
      class={[
        "peer-focus:ring-rose-300 peer-checked:bg-rose-600 after:border-rose-300 text-yellow-600 text-rose-600 text-green-600 text-orange-600 text-blue-600",
        "peer-focus:ring-green-300 peer-checked:bg-green-600 after:border-green-300",
        "peer-focus:ring-blue-300 peer-checked:bg-blue-600 after:border-blue-300"
      ]}
    />
  </body>
</html>
